:root { 
--gray_52:#f8f9fa; 
--gray_51:#f9f9f9; 
--white_A700_b2:#ffffffb2; 
--bluegray_700_33:#49505733; 
--amber_A200:#ffcd46; 
--gray_50:#f7f8fb; 
--yellow_800:#fab71e; 
--black_900:#000000; 
--gray_903:#4c3500; 
--red_A700:#f71010; 
--yellow_100:#ffedc4; 
--gray_600_23:#6d6d6d23; 
--gray_901:#00004c; 
--gray_400_3d:#bfbfbf3d; 
--amber_500:#ffb712; 
--gray_902:#212529; 
--gray_800:#3c4043; 
--gray_900:#232323; 
--gray_801:#474747; 
--bluegray_100:#ced4da; 
--blue_50:#d6e6ff; 
--gray_800_30:#50505030; 
--bluegray_900:#373737; 
--black_900_99:#00000099; 
--bluegray_401:#8a8a9e; 
--bluegray_400:#8e8e8e; 
--white_A700_02:#ffffff02; 
--bluegray_101:#d6d6d6; 
--indigo_900:#010080; 
--white_A700:#ffffff; 
}