@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffb712;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.text-neutral-100 {
  --tw-text-opacity: 1;
  color: rgba(36,36,36,var(--tw-text-opacity));
}

.text-neutral-200 {
  --tw-text-opacity: 1;
  color: rgba(71,71,71,var(--tw-text-opacity))
}

.text-neutral-300 {
  --tw-text-opacity: 1;
  color: rgba(143,143,143,var(--tw-text-opacity))
}

.text-neutral-400 {
  --tw-text-opacity: 1;
  color: rgba(214,214,214,var(--tw-text-opacity))
}
.bg-cta {
  --tw-bg-opacity: 1;
  background-color: rgba(255,183,18,var(--tw-bg-opacity))
}

.bg-prim-default {
  --tw-bg-opacity: 1;
  background-color: rgba(1,0,128,var(--tw-bg-opacity))
}

.bg-prim-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(1,0,77,var(--tw-bg-opacity));
}

.bg-prim-light-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(248,249,250,var(--tw-bg-opacity))
}

.bg-prim-light-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(242,242,255,var(--tw-bg-opacity))
}

.bg-prim-tint-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(37,36,179,var(--tw-bg-opacity))
}

.text-cta {
  --tw-text-opacity: 1;
  color: rgba(255,183,18,var(--tw-text-opacity))
}

.text-prim-default {
  --tw-text-opacity: 1;
  color: rgba(1,0,128,var(--tw-text-opacity))
}

.text-prim-100 {
  --tw-text-opacity: 1;
  color: rgba(1,0,77,var(--tw-text-opacity))
}

.text-prim-light-200 {
  --tw-text-opacity: 1;
  color: rgba(248,249,250,var(--tw-text-opacity))
}

.text-prim-tint-100 {
  --tw-text-opacity: 1;
  color: rgba(37,36,179,var(--tw-text-opacity))
}